In [83]:
Ejercicios practica 1.

SyntaxError: invalid syntax (3848199956.py, line 1)

Función para graficar y analizar una variable numérica

Objetivo

Desarrollar una función en Python que permita representar gráficamente la distribución de una variable numérica de un conjunto de datos, utilizando un diagrama de caja (boxplot). Además, la función debe calcular y mostrar las principales estadísticas descriptivas de dicha variable.

Instrucciones

Crea una función llamada boxplot_variable(df, var) que reciba como parámetros:

df: un DataFrame de pandas con los datos.

var: una cadena (str) con el nombre de la columna numérica a analizar.

Dentro de la función:

Dibuja el boxplot de la variable seleccionada.

Calcula las siguientes estadísticas y almacénalas en un diccionario vacío llamado stats:

Primer cuartil (Q1)

Tercer cuartil (Q3)

Mediana (median)

Media (mean)

Mínimo (min)

Máximo (max)

Rango intercuartílico (IQR = Q3 - Q1)

Límite inferior (Q1 - 1.5 * IQR)

Límite superior (Q3 + 1.5 * IQR)

Utiliza un bucle for para dibujar líneas horizontales en el gráfico que indiquen la media, mediana, máximo y mínimo, cada una con un color y estilo de línea diferente.

Emplea otro bucle for para agregar textos en el gráfico con los valores de las estadísticas (Q1, Q3, máximo, mínimo y límites superior e inferior).

Muestra la leyenda, activa la cuadrícula y presenta la figura.

La función debe retornar el diccionario stats con las estadísticas calculadas.

Ejemplo de uso:

resultado = boxplot_variable(df, 'plas')
print(resultado)
Salida esperada:

Un gráfico de caja con:

Líneas horizontales que indican la media, mediana, máximo y mínimo.

Textos con los valores de Q1, Q3, límites superior e inferior, etc.

Leyenda y cuadrícula activadas.

En consola, un diccionario con las estadísticas calculadas, por ejemplo:

{
  'Q1': 85.0,
  'Q3': 140.0,
  'median': 110.0,
  'mean': 118.3,
  'max': 200.0,
  'min': 45.0,
  'IQR': 55.0,
  'lim_sup': 222.5,
  'lim_inf': 2.5
}

Comparación de variables numéricas mediante boxplots

**Objetivo**

Desarrollar una función en Python que permita visualizar de manera comparativa la distribución de todas las variables numéricas de un conjunto de datos, utilizando un único gráfico de boxplots (diagramas de caja).

Además, la función debe calcular las principales estadísticas descriptivas de cada variable, almacenándolas en un diccionario para su análisis posterior.

**Instrucciones**

Crea una función llamada boxplot_todas(df) que reciba como parámetro:

df: un DataFrame de pandas.

Dentro de la función:

Identifica automáticamente todas las columnas numéricas del DataFrame usando select_dtypes(include=['number']).

Crea un único gráfico de boxplots combinados con todas las variables numéricas.

Calcula las siguientes estadísticas para cada variable y guárdalas en un diccionario llamado estadisticas (crea dos diccionarios, uno que guarda los diccionarios de estadísticas de cada variable (stats{}) y otro para guardar las estadísticas de cada variable (estadisticas{})):

Primer cuartil (Q1)

Tercer cuartil (Q3)

Mediana (median)

Media (mean)

Mínimo (min)

Máximo (max)

Rango intercuartílico (IQR = Q3 - Q1)

Límite inferior (Q1 - 1.5 * IQR)

Límite superior (Q3 + 1.5 * IQR)

La función debe retornar el diccionario estadisticas con todas las variables y sus valores calculados.

resultados = boxplot_todas(df)

Ejemplo de uso:

```python
# Mostrar resumen de estadísticas
for var, stats in resultados.items():
    print(f"\nEstadísticas de {var}:")
    for k, v in stats.items():
        print(f"  {k}: {v:.2f}")
```


Salida esperada:

Un gráfico único que muestre las cajas (boxplots) de todas las columnas numéricas del DataFrame.

Cajas de color verde claro (lightgreen), una cuadrícula visible y etiquetas con los nombres de las variables.

En consola, un diccionario con las estadísticas descriptivas de cada variable, por ejemplo:

```python
{
  'plas': {'Q1': 84.0, 'Q3': 145.0, 'median': 109.0, 'mean': 118.7, 'max': 199.0, 'min': 40.0, 'IQR': 61.0, 'lim_sup': 236.5, 'lim_inf': -7.5},
  'mass': {'Q1': 27.3, 'Q3': 36.6, 'median': 32.0, 'mean': 32.4, 'max': 50.0, 'min': 18.2, 'IQR': 9.3, 'lim_sup': 50.55, 'lim_inf': 13.35},
  'age':  {'Q1': 22.0, 'Q3': 41.0, 'median': 29.0, 'mean': 33.2, 'max': 81.0, 'min': 21.0, 'IQR': 19.0, 'lim_sup': 69.5, 'lim_inf': -6.5}
}
```

# Cuaderno de ejercicios: .loc, .iloc y .groupby con winequality-red

En esta práctica trabajaremos con el archivo **`winequality-red.csv`** para convertirlo a un `DataFrame` de pandas.

**Instrucciones:**
1. Ejecuta la celda de código siguiente para cargar el archivo en un `DataFrame` llamado `df`.
2. Verifica que las columnas coinciden con la tabla de variables y que los tipos son razonables.
3. A continuación encontrarás los 30 ejercicios: 10 de `.loc`, 10 de `.iloc` y 10 de `groupby`.

In [ ]:
import pandas as pd
path = "winequality-red.csv"
df = pd.read_csv(path)
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Guía de variables del dataset `winequality-red.csv`

| Variable | Tipo | Unidad / Rango aproximado | Descripción |
|---|---|---|---|
| `fixed acidity` | numérica | g/dm³ | Ácidos fijos (principalmente tartárico). Cambian poco con la fermentación. |
| `volatile acidity` | numérica | g/dm³ de ácido acético | Ácidos volátiles; niveles altos pueden dar aromas avinagrados. |
| `citric acid` | numérica | g/dm³ | Ácido cítrico; aporta frescor y estabilidad. |
| `residual sugar` | numérica | g/dm³ | Azúcar residual no fermentado. |
| `chlorides` | numérica | g/dm³ de cloruro de sodio | Concentración de sales; niveles altos pueden dar sabor salado. |
| `free sulfur dioxide` | numérica | mg/dm³ | SO₂ libre; fracción activa con efecto antimicrobiano/antioxidante. |
| `total sulfur dioxide` | numérica | mg/dm³ | SO₂ total; incluye formas libres y combinadas. |
| `density` | numérica | g/cm³ (aprox. 0.99–1.01) | Densidad del vino; se relaciona con azúcar y alcohol. |
| `pH` | numérica | escala 0–14 (aprox. 2.8–4.0) | Acidez global; valores más bajos implican mayor acidez. |
| `sulphates` | numérica | g/dm³ | Sulfatos; pueden potenciar el efecto del SO₂ y la estabilidad. |
| `alcohol` | numérica | % vol (aprox. 8–15) | Graduación alcohólica del vino. |
| `quality` | entera | escala ordinal (0–10, típico 3–8) | Puntuación sensorial global de calidad otorgada por catadores. |

## Ejercicios de `.loc` (selección por etiquetas y condiciones)

**Ejercicio .loc 1.** Selecciona las filas donde `alcohol` sea mayor o igual a 12 y muestra solo las columnas `alcohol`, `quality` y `pH` usando `.loc`.

In [ ]:
df.loc[df["alcohol"] >= 12, ["alcohol", "quality", "pH"]]

      alcohol  quality    pH
45       13.1        4  3.90
95       12.9        6  3.85
131      13.0        5  3.63
132      13.0        5  3.63
142      14.0        6  3.68
...       ...      ...   ...
1538     12.0        5  3.57
1547     12.1        5  3.55
1570     12.4        6  3.37
1573     12.5        6  3.58
1588     12.8        6  3.27

[162 rows x 3 columns]

**Ejercicio .loc 2.** Filtra las filas en las que `volatile acidity` sea mayor a 0.6 y `quality` sea menor o igual a 5. Devuelve todas las columnas con `.loc`.

In [ ]:
df.loc[(df["volatile acidity"] > 0.6) & (df["quality"] <= 5)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1567,7.2,0.695,0.13,2.0,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1572,7.3,0.690,0.32,2.2,0.069,35.0,104.0,0.99632,3.33,0.51,9.5,5
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5

**Ejercicio .loc 3.** Selecciona las filas donde `citric acid` esté entre 0.25 y 0.5 (inclusive). Devuelve `citric acid`, `fixed acidity` y `quality`.

In [ ]:
df.loc[df["citric acid"].between(0.25, 0.5), ["citric acid", "fixed acidity", "quality"]]

      citric acid  fixed acidity  quality
9            0.36            NaN        5
11           0.36            7.5        5
13           0.29            7.8        5
17           0.28            8.1        5
20           0.48            8.9        6
...           ...            ...      ...
1584         0.44            6.7        7
1585         0.44            7.2        6
1586         0.41            7.5        6
1588         0.33            7.2        6
1598         0.47            6.0        6

[642 rows x 3 columns]

**Ejercicio .loc 4.** Crea una columna nueva `high_alcohol` que valga "yes" si `alcohol >= 12` y "no" en caso contrario, utilizando `.loc`.

In [ ]:
df["high_alcohol"] = "yes"
df.loc[df["alcohol"] < 12, "high_alcohol"] = "no"
df.head(50)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,high_alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,no
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,no
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,no
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,no
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,no
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,no
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,no
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,no
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,no
9,NaN,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,no
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5,no
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,no
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.9943,3.58,0.52,9.9,5,no
13,7.8,0.610,0.29,1.6,0.114,9.0,29.0,0.9974,3.26,1.56,9.1,5,no
14,8.9,0.620,0.18,3.8,0.176,52.0,145.0,0.9986,3.16,0.88,9.2,5,no
15,NaN,0.620,0.19,3.9,0.170,51.0,148.0,0.9986,3.17,0.93,9.2,5,no
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,0.75,10.5,7,no
17,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.9968,3.11,1.28,9.3,5,no
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.9974,3.38,0.50,9.0,4,no
19,7.9,0.320,0.51,1.8,0.341,17.0,56.0,0.9969,3.04,1.08,9.2,6,no
20,8.9,0.220,0.48,1.8,0.077,29.0,60.0,0.9968,3.39,0.53,9.4,6,no
21,7.6,0.390,0.31,2.3,0.082,23.0,71.0,0.9982,3.52,0.65,9.7,5,no
22,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.9966,3.17,0.91,9.5,5,no
23,8.5,0.490,0.11,2.3,0.084,9.0,67.0,0.9968,3.17,0.53,9.4,5,no
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.9968,3.43,0.63,9.7,6,no
25,NaN,0.390,0.16,1.4,0.080,11.0,23.0,0.9955,3.34,0.56,9.3,5,no
26,7.6,0.410,0.24,1.8,0.080,4.0,11.0,0.9962,3.28,0.59,9.5,5,no
27,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.9966,3.17,0.91,9.5,5,no
28,7.1,0.710,0.00,1.9,0.080,14.0,35.0,0.9972,3.47,0.55,9.4,5,no
29,7.8,0.645,0.00,2.0,0.082,8.0,16.0,0.9964,3.38,0.59,9.8,6,no
30,6.7,0.675,0.07,2.4,0.089,17.0,82.0,0.9958,3.35,0.54,10.1,5,no
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.9966,3.46,0.57,10.6,6,no
32,8.3,0.655,0.12,2.3,0.083,15.0,113.0,0.9966,3.17,0.66,9.8,5,no
33,6.9,0.605,0.12,10.7,0.073,40.0,83.0,0.9993,3.45,0.52,9.4,6,no
34,5.2,0.320,0.25,1.8,0.103,13.0,50.0,0.9957,3.38,0.55,9.2,5,no
35,7.8,0.645,0.00,5.5,0.086,5.0,18.0,0.9986,3.40,0.55,9.6,6,no
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.9975,3.42,0.60,10.8,6,no
37,NaN,0.380,0.28,2.1,0.066,13.0,30.0,0.9968,3.23,0.73,9.7,7,no
38,5.7,1.130,0.09,1.5,0.172,7.0,19.0,0.9940,3.50,0.48,9.8,4,no
39,7.3,0.450,0.36,5.9,0.074,12.0,87.0,0.9978,3.33,0.83,10.5,5,no
40,7.3,0.450,0.36,5.9,0.074,12.0,87.0,0.9978,3.33,0.83,10.5,5,no
41,8.8,0.610,0.30,2.8,0.088,17.0,46.0,0.9976,3.26,0.51,9.3,4,no
42,7.5,0.490,0.20,2.6,0.332,8.0,14.0,0.9968,3.21,0.90,10.5,6,no
43,8.1,0.660,0.22,2.2,0.069,9.0,23.0,0.9968,3.30,1.20,10.3,5,no
44,6.8,0.670,0.02,1.8,0.050,5.0,11.0,0.9962,3.48,0.52,9.5,5,no
45,4.6,0.520,0.15,2.1,0.054,8.0,65.0,0.9934,3.90,0.56,13.1,4,yes
46,7.7,0.935,0.43,2.2,0.114,22.0,114.0,0.9970,3.25,0.73,9.2,5,no
47,8.7,0.290,0.52,1.6,0.113,12.0,37.0,0.9969,3.25,0.58,9.5,5,no
48,6.4,0.400,0.23,1.6,0.066,5.0,12.0,0.9958,3.34,0.56,9.2,5,no
49,5.6,0.310,0.37,1.4,0.074,12.0,96.0,0.9954,3.32,0.58,9.2,5,no

**Ejercicio .loc 5.** Reemplaza con `NaN` los valores de `residual sugar` que sean menores que 0.5 mediante `.loc`, sin afectar el resto del `DataFrame`.

In [ ]:
df.loc[df["residual sugar"] < 0.5] = float("NaN")

**Ejercicio .loc 6.** Devuelve solo las filas donde `pH` esté entre 3.2 y 3.5 y, simultáneamente, `sulphates` sea mayor a 0.6, mostrando `pH`, `sulphates`, `quality`.

In [ ]:
df.loc[(df["pH"].between(3.2, 3.5)) & (df["sulphates"] > 0.6), ["pH", "sulphates", "quality"]]

        pH  sulphates  quality
1     3.20       0.68        5
2     3.26       0.65        5
9     3.35       0.80        5
11    3.35       0.80        5
13    3.26       1.56        5
...    ...        ...      ...
1590  3.32       0.82        6
1592  3.42       0.75        6
1593  3.42       0.82        6
1596  3.42       0.75        6
1598  3.39       0.66        6

[558 rows x 3 columns]

**Ejercicio .loc 7.** Selecciona todas las filas, pero únicamente las columnas cuyo nombre contenga la palabra "sulfur" (por ejemplo, `free sulfur dioxide`, `total sulfur dioxide`) usando una lista de columnas con `.loc`. Utiliza una lista por comprensión para guardar las columnas.

In [ ]:
cols_sulfur = [col for col in df.columns if "sulfur" in col]
df_sulfur = df.loc[:, cols_sulfur]
df_sulfur.head()

   free sulfur dioxide  total sulfur dioxide
0                 11.0                  34.0
1                 25.0                  67.0
2                 15.0                  54.0
3                 17.0                  60.0
4                 11.0                  34.0

**Ejercicio .loc 8.** Con `.loc`, selecciona las filas donde `quality` sea 7 u 8 o `alcohol` sea mayor que 13. Muestra `alcohol`, `quality`, `volatile acidity`.

In [ ]:
df.loc[(df["quality"].between(7, 8)) & (df["alcohol"] > 13), ["alcohol", "quality", "volatile acidity"]]

        alcohol  quality  volatile acidity
455   13.400000        8              0.62
491   13.300000        7              0.41
492   13.400000        7              0.40
588   14.000000        8              0.42
821   14.000000        7              0.42
1120  13.100000        8              0.54
1132  13.600000        7              0.36
1228  13.600000        7              0.42
1269  14.000000        8              0.49
1475  13.566667        7              0.47
1477  13.600000        7              0.47

**Ejercicio .loc 9.** Establece `chlorides = chlorides * 1.05` solamente en las filas donde `density` sea mayor a 1.0, usando `.loc`.

In [ ]:
df.loc[df["density"] > 1.0, "chlorides"] = df["chlorides"] * 1.05

**Ejercicio .loc 10.** Usando `.loc`, devuelve las filas con índice entre 200 y 230 (inclusive) y las columnas desde `fixed acidity` hasta `density` (rango de etiquetas de columnas).

In [ ]:
df.loc[200:230, "fixed acidity":"density"]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density
200,9.6,0.320,0.47,1.4,0.056,9.0,24.0,0.99695
201,8.8,0.370,0.48,2.1,0.097,39.0,145.0,0.99750
202,6.8,0.500,0.11,1.5,0.075,16.0,49.0,0.99545
203,7.0,0.420,0.35,1.6,0.088,16.0,39.0,0.99610
204,7.0,0.430,0.36,1.6,0.089,14.0,37.0,0.99615
205,12.8,0.300,0.74,2.6,0.095,9.0,28.0,0.99940
206,12.8,0.300,0.74,2.6,0.095,9.0,28.0,0.99940
207,7.8,0.570,0.31,1.8,0.069,26.0,120.0,0.99625
208,7.8,0.440,0.28,2.7,0.100,18.0,95.0,0.99660
209,11.0,0.300,0.58,2.1,0.054,7.0,19.0,0.99800
210,9.7,0.530,0.60,2.0,0.039,5.0,19.0,0.99585
211,8.0,0.725,0.24,2.8,0.083,10.0,62.0,0.99685
212,11.6,0.440,0.64,2.1,0.059,5.0,15.0,0.99800
213,8.2,0.570,0.26,2.2,0.060,28.0,65.0,0.99590
214,7.8,0.735,0.08,2.4,0.092,10.0,41.0,0.99740
215,7.0,0.490,0.49,5.6,0.060,26.0,121.0,0.99740
216,8.7,0.625,0.16,2.0,0.101,13.0,49.0,0.99620
217,8.1,0.725,0.22,2.2,0.072,11.0,41.0,0.99670
218,7.5,0.490,0.19,1.9,0.076,10.0,44.0,0.99570
219,7.8,0.530,0.33,2.4,0.080,24.0,144.0,0.99655
220,7.8,0.340,0.37,2.0,0.082,24.0,58.0,0.99640
221,7.4,0.530,0.26,2.0,0.101,16.0,72.0,0.99570
222,6.8,0.610,0.04,1.5,0.057,5.0,10.0,0.99525
223,8.6,0.645,0.25,2.0,0.083,8.0,28.0,0.99815
224,8.4,0.635,0.36,2.0,0.089,15.0,55.0,0.99745
225,7.7,0.430,0.25,2.6,0.073,29.0,63.0,0.99615
226,8.9,0.590,0.50,2.0,0.337,27.0,81.0,0.99640
227,9.0,0.820,0.14,2.6,0.089,9.0,23.0,0.99840
228,7.7,0.430,0.25,2.6,0.073,29.0,63.0,0.99615
229,6.9,0.520,0.25,2.6,0.081,10.0,37.0,0.99685
230,5.2,0.480,0.04,1.6,0.054,19.0,106.0,0.99270

## Ejercicios de `.iloc` (selección por posición)

**Ejercicio .iloc 1.** Selecciona las filas en posiciones del 100 al 199 de 20 en 20 y todas las columnas, usando `.iloc`.

In [ ]:
df.iloc[100:200:20]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,high_alcohol
100,8.3,0.610,0.30,2.1,0.084,11.0,50.0,0.9972,3.40,0.61,10.2,6,no
120,7.3,1.070,0.09,1.7,0.178,10.0,89.0,0.9962,3.30,0.57,9.0,5,no
140,8.4,0.745,0.11,1.9,0.090,16.0,63.0,0.9965,3.19,0.82,9.6,5,no
160,7.6,0.950,0.03,2.0,0.090,7.0,20.0,0.9959,3.20,0.56,9.6,5,no
180,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.9969,3.19,0.59,9.5,5,no

**Ejercicio .iloc 2.** Selecciona las primeras 25 filas y las columnas en posiciones 0, 3 y 10 con `.iloc`.

In [ ]:
df.iloc[:25, [0, 3, 10]]

    fixed acidity  residual sugar  alcohol
0             7.4             1.9      9.4
1             7.8             2.6      9.8
2             7.8             2.3      9.8
3            11.2             1.9      9.8
4             7.4             1.9      9.4
5             7.4             1.8      9.4
6             7.9             1.6      9.4
7             7.3             1.2     10.0
8             7.8             2.0      9.5
9             NaN             6.1     10.5
10            6.7             1.8      9.2
11            7.5             6.1     10.5
12            5.6             1.6      9.9
13            7.8             1.6      9.1
14            8.9             3.8      9.2
15            NaN             3.9      9.2
16            8.5             1.8     10.5
17            8.1             1.7      9.3
18            7.4             4.4      9.0
19            7.9             1.8      9.2
20            8.9             1.8      9.4
21            7.6             2.3      9.7
22            7.9             1.6      9.5
23            8.5             2.3      9.4
24            6.9             2.4      9.7

**Ejercicio .iloc 3.** Selecciona las últimas 20 filas del `DataFrame` y las columnas en posiciones de la 1 a la 4 (excluyendo la 5).

In [ ]:
df.iloc[-20:, 1:5]

      volatile acidity  citric acid  residual sugar  chlorides
1579             0.560         0.09             1.7      0.053
1580             0.350         0.33             2.4      0.068
1581             0.560         0.09             1.7      0.053
1582             0.715         0.10             2.6      0.053
1583             0.460         0.29             2.1      0.074
1584             0.320         0.44             2.4      0.061
1585             0.390         0.44             2.6      0.066
1586             0.310         0.41             2.4      0.065
1587             0.610         0.11             1.8      0.066
1588             0.660         0.33             2.5      0.068
1589             0.725         0.20             7.8      0.073
1590             0.550         0.15             1.8      0.077
1591             0.740         0.09             1.7      0.089
1592             0.510         0.13             2.3      0.076
1593             0.620         0.08             1.9      0.068
1594             0.600         0.08             2.0      0.090
1595             0.550         0.10             2.2      0.062
1596             0.510         0.13             2.3      0.076
1597             0.645         0.12             2.0      0.075
1598             0.310         0.47             3.6      0.067

**Ejercicio .iloc 4.** Toma las filas 50 a 80 (excluyendo la 81) y solamente la columna en posición 2.

In [ ]:
df.iloc[50:81, 2]

50    0.26
51    0.04
52    0.04
53    0.36
54    0.15
55    0.04
56    0.57
57    0.12
58    0.18
59    0.31
60    0.40
61    0.49
62    0.16
63    0.05
64    0.05
65    0.05
66    0.11
67    0.07
68    0.57
69    0.05
70    0.08
71    0.23
72    0.22
73    0.26
74    0.54
75    0.64
76    0.64
77    0.00
78    0.12
79    0.20
80    0.20
Name: citric acid, dtype: float64

**Ejercicio .iloc 5.** Selecciona las filas en posiciones `[0, 5, 10, 15, 20]` y las columnas en posiciones `[1, 4, 7]`.

In [ ]:
df.iloc[[0,5,10,15,20], [1,4,7]]

    volatile acidity  chlorides  density
0               0.70      0.076   0.9978
5               0.66      0.075   0.9978
10              0.58      0.097   0.9959
15              0.62      0.170   0.9986
20              0.22      0.077   0.9968

**Ejercicio .iloc 6.** Selecciona cada 8 filas desde la 0 hasta la 80 (excluyendo la 81) y las columnas en posiciones pares.

In [ ]:
df.iloc[:81:8, ::2]

,fixed acidity,citric acid,chlorides,total sulfur dioxide,pH,alcohol,high_alcohol
0,7.4,0.00,0.076,34.0,3.51,9.4,no
8,7.8,0.02,0.073,18.0,3.36,9.5,no
16,8.5,0.56,0.092,103.0,3.30,10.5,no
24,6.9,0.14,0.085,40.0,3.43,9.7,no
32,8.3,0.12,0.083,113.0,3.17,9.8,no
40,7.3,0.36,0.074,87.0,3.33,10.5,no
48,6.4,0.23,0.066,12.0,3.34,9.2,no
56,10.2,0.57,0.070,10.0,3.04,9.6,no
64,7.2,0.05,0.086,11.0,3.41,10.9,no
72,7.7,0.22,0.084,94.0,3.31,9.5,no
80,6.2,0.20,0.069,15.0,3.41,9.2,no

**Ejercicio .iloc 7.** Selecciona un bloque rectangular de filas 120 a 170 (excluyendo 171) y columnas 2 a 6 (excluyendo 7).

In [ ]:
df.iloc[120:171, 2:7]

,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide
120,0.09,1.7,0.178,10.0,89.0
121,0.04,2.2,0.119,14.0,56.0
122,0.00,2.5,0.075,3.0,13.0
123,0.00,2.6,0.080,11.0,34.0
124,0.17,1.6,0.082,21.0,102.0
125,0.04,1.9,0.146,27.0,90.0
126,0.00,1.7,0.081,3.0,12.0
127,0.00,1.8,0.082,3.0,12.0
128,0.16,1.8,0.065,3.0,16.0
129,0.15,1.8,0.072,6.0,19.0
130,0.56,2.0,0.118,30.0,134.0
131,0.09,2.3,0.049,17.0,99.0
132,0.09,2.3,0.049,17.0,99.0
133,0.01,1.5,0.060,17.0,26.0
134,0.05,2.2,0.084,13.0,29.0
135,0.11,1.9,0.090,16.0,63.0
136,0.15,1.8,0.089,10.0,52.0
137,0.36,2.0,0.081,13.0,45.0
138,0.19,2.1,0.081,15.0,105.0
139,0.19,2.0,0.081,17.0,108.0
140,0.11,1.9,0.090,16.0,63.0
141,0.15,1.8,0.089,10.0,52.0
142,0.00,1.8,0.050,27.0,63.0
143,0.08,1.7,0.066,3.0,20.0
144,0.00,1.8,0.050,27.0,63.0
145,0.55,1.8,0.117,32.0,141.0
146,0.02,1.8,0.087,21.0,94.0
147,0.26,1.6,0.236,10.0,88.0
148,0.10,2.3,0.074,12.0,30.0
149,0.44,2.8,0.089,11.0,43.0
150,0.47,2.1,0.077,5.0,11.0
151,1.00,3.4,0.610,32.0,69.0
152,0.03,1.8,0.095,25.0,99.0
153,0.03,1.8,0.095,25.0,99.0
154,0.42,5.5,0.070,29.0,129.0
155,0.42,5.5,0.071,28.0,128.0
156,0.42,5.5,0.070,29.0,129.0
157,0.42,5.5,0.071,28.0,128.0
158,0.00,2.2,0.073,12.0,22.0
159,0.18,1.9,0.079,18.0,86.0
160,0.03,2.0,0.090,7.0,20.0
161,0.02,1.3,0.072,9.0,20.0
162,0.04,1.7,0.076,17.0,31.0
163,0.26,7.3,0.070,36.0,121.0
164,0.26,7.2,0.070,35.0,121.0
165,0.48,1.7,0.100,14.0,96.0
166,0.10,2.1,0.085,18.0,101.0
167,0.03,1.6,0.072,17.0,42.0
168,0.07,2.1,0.089,11.0,44.0
169,0.24,1.8,0.360,15.0,63.0
170,0.03,1.8,0.058,4.0,8.0

**Ejercicio .iloc 8.** Usa `.iloc` para obtener una sola fila en la posición 42. Muéstrala e identifica el tipo de objeto que es esa fila.

In [ ]:
df.iloc[42]

fixed acidity              7.5
volatile acidity          0.49
citric acid                0.2
residual sugar             2.6
chlorides                0.332
free sulfur dioxide        8.0
total sulfur dioxide      14.0
density                 0.9968
pH                        3.21
sulphates                  0.9
alcohol                   10.5
quality                      6
high_alcohol                no
Name: 42, dtype: object

**Ejercicio .iloc 9.** Usa `.iloc` para obtener un valor escalar en la fila 10, columna 3.

In [ ]:
df.iloc[10, 3]

np.float64(1.8)

### Preparación del dataset para los ejercicios con groupby

#### pd.cut() divide una variable numérica continua (aquí df['quality']) en intervalos o “cajones”.

El argumento bins define los límites de esos intervalos:

1. (-∞, 5] → vinos de baja calidad

2. (5, 6] → vinos de calidad media

3. (6, ∞) → vinos de alta calidad

labels asigna nombres a cada intervalo (low, mid, high). El resultado es una serie categórica, que se guarda como una nueva columna df['quality_label']

#### Se clasifica el azúcar residual (residual sugar) en tres niveles:

1. (-∞, 2.0] → bajo (low)

2. (2.0, 4.0] → medio (mid)

3. (4.0, ∞) → alto (high)

El resultado se guarda en df['sugar_level'].

En resumen:

| Columna creada  | Variable base    | Rangos (bins)                | Etiquetas      | Objetivo                            |
| --------------- | ---------------- | ---------------------------- | -------------- | ----------------------------------- |
| `quality_label` | `quality`        | (-∞,5], (5,6], (6,∞)         | low, mid, high | Clasificar calidad del vino         |
| `sugar_level`   | `residual sugar` | (-∞,2.0], (2.0,4.0], (4.0,∞) | low, mid, high | Clasificar nivel de azúcar residual |

In [ ]:
# Preparación opcional de columnas auxiliares
if 'quality_label' not in df.columns:
    df['quality_label'] = pd.cut(
        df['quality'],
        bins=[-float('inf'), 5, 6, float('inf')],
        labels=['low','mid','high']
    )
if 'sugar_level' not in df.columns:
    sugar = df['residual sugar']
    df['sugar_level'] = pd.cut(
        sugar,
        bins=[-float('inf'), 2.0, 4.0, float('inf')],
        labels=['low','mid','high']
    )
df[['quality','quality_label','residual sugar','sugar_level']].head()

   quality quality_label  residual sugar sugar_level
0        5           low             1.9         low
1        5           low             2.6         mid
2        5           low             2.3         mid
3        6           mid             1.9         low
4        5           low             1.9         low

## Ejercicios de `groupby` (agregaciones y tablas cruzadas)

Antes de comenzar, hemos creado las  columnas auxiliares:

- `quality_label`: "low" si `quality <= 5`, "mid" si `quality == 6`, "high" si `quality >= 7`.
- `sugar_level`: "low" si `residual sugar < 2.0`, "mid" si `2.0 <= residual sugar < 4.0`, "high` si `residual sugar >= 4.0`.

**Ejercicio groupby 1.** Agrupa por `quality` y calcula la media de `alcohol`, `density` y `pH`. Devuelve un `DataFrame` con esas medias.

In [ ]:
df.groupby("quality")[["alcohol", "density", "pH"]].mean().reset_index()

   quality    alcohol   density        pH
0        3   9.955000  0.997464  3.398000
1        4  10.265094  0.996542  3.381509
2        5   9.899706  0.997104  3.304949
3        6  10.629519  0.996615  3.318072
4        7  11.465913  0.996104  3.290754
5        8  12.094444  0.995212  3.267222

**Ejercicio groupby 2.** Agrupa por `quality_label` y calcula el conteo de filas y la media de `alcohol`.

In [ ]:
df.groupby("quality_label").agg({"alcohol": ["count", "mean"]}).reset_index()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15352\1483470708.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("quality_label").agg({'alcohol': ['count', 'mean']}).reset_index()

  quality_label alcohol
                  count       mean
0           low     744   9.926478
1           mid     638  10.629519
2          high     217  11.518049

**Ejercicio groupby 3.** Agrupa por quality y calcula el promedio y la desviación estándar de alcohol para cada grupo.
Devuelve un DataFrame con las columnas mean_alcohol y std_alcohol, renombradas explícitamente con estos nombres.

In [ ]:
df.groupby("quality")["alcohol"].agg(mean_alcohol ="mean", std_alcohol ="std").reset_index()

   quality  mean_alcohol  std_alcohol
0        3      9.955000     0.818009
1        4     10.265094     0.934776
2        5      9.899706     0.736521
3        6     10.629519     1.049639
4        7     11.465913     0.961933
5        8     12.094444     1.224011

**Ejercicio groupby 4.** Agrupa por `quality` y calcula la desviación estándar de `volatile acidity` y `citric acid`.

In [ ]:
df.groupby("quality")[["volatile acidity", "citric acid"]].std().reset_index()

   quality  volatile acidity  citric acid
0        3          0.331256     0.250664
1        4          0.220110     0.201030
2        5          0.164801     0.180003
3        6          0.160962     0.195108
4        7          0.145224     0.194432
5        8          0.144914     0.199526

**Ejercicio groupby 5.** Agrupa por `sugar_level` y calcula la mediana de `alcohol` y `pH`.

In [ ]:
df.groupby("sugar_level")[["alcohol", "pH"]].median().reset_index()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15352\511700599.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("sugar_level")[["alcohol", "pH"]].median().reset_index()

  sugar_level  alcohol    pH
0         low    9.925  3.32
1         mid   10.300  3.31
2        high   10.500  3.29

**Ejercicio groupby 6.** Agrupa por `quality_label` y `sugar_level` y calcula el promedio de `sulphates`, devolviendo el resultado como una tabla cruzada (usa `.unstack()` o `pivot_table`).

In [ ]:
df.pivot_table(
    index="quality_label",
    columns="sugar_level",
    values="sulphates",
    aggfunc="mean"
)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15352\2980411494.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df.pivot_table(

sugar_level         low       mid      high
quality_label
low            0.629769  0.603826  0.653548
mid            0.680360  0.674261  0.650833
high           0.745075  0.751463  0.702963

**Ejercicio groupby 8.** Agrupa por `quality` y calcula max y min de `density` y `alcohol`.

In [ ]:
df.groupby("quality")[["density", "alcohol"]].agg({"max", "min"})

         density          alcohol
             max      min     max  min
quality
3        1.00080  0.99471    11.0  8.4
4        1.00100  0.99340    13.1  9.0
5        1.00315  0.99256    14.9  8.5
6        1.00369  0.99007    14.0  8.4
7        1.00320  0.99064    14.0  9.2
8        0.99880  0.99080    14.0  9.8

**Ejercicio groupby 9.** Agrupa por `quality_label` y calcula los percentiles 25, 50 y 75 de `alcohol` en cada grupo. Devuelve un `DataFrame` con columnas `p25`, `p50`, `p75`.

In [ ]:
df.groupby("quality_label")["alcohol"].agg(
    p25=lambda x: x.quantile(0.25),
    p50=lambda x: x.quantile(0.50),
    p75=lambda x: x.quantile(0.75)
).reset_index()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15352\2369986157.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('quality_label')['alcohol'].agg(

  quality_label   p25   p50   p75
0           low   9.4   9.7  10.3
1           mid   9.8  10.5  11.3
2          high  10.8  11.6  12.2

**Ejercicio groupby 10.** Agrupa por `sugar_level` y calcula, para `free sulfur dioxide`, las métricas: media, mediana, mínimo y máximo usando `.agg()`.

In [ ]:
df.groupby("sugar_level")[["free sulfur dioxide"]].agg({"mean", "median", "min", "max"})

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15352\3911057096.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("sugar_level")[["free sulfur dioxide"]].agg({"mean", "median", "min", "max"})

            free sulfur dioxide
                         median   max       mean  min
sugar_level
low                        13.0  57.0  15.150806  1.0
mid                        14.0  54.0  15.904567  1.0
high                       12.0  72.0  19.264000  3.0