# PRÁCTICA DE LIMPIEZA DE DATOS

Importamos pyspark.

In [2]:
# Importaciones
import pyspark
from pyspark.sql import SparkSession, functions as F, types as T

spark = SparkSession.builder.appName("Fish").getOrCreate()
spark

Leemos el csv para guardarlo en la variable df.

In [3]:
df = (spark.read
      .option("header", True)
      .option("inferSchema", True)
      .csv("Fish.csv"))

In [4]:
df.printSchema()

root
 |-- Species: string (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Length1: double (nullable = true)
 |-- Length2: double (nullable = true)
 |-- Length3: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Width: double (nullable = true)

Con head() mostramos las 5 primeras filas. tail() muestra las 5 últimas filas.

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

shape muestra la cantidad de filas y columnas.

(159, 7)

columns muestra las columnas que tiene el csv.

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

dtypes muestra los tipos de datos de las columnas.

Species     object
Weight     float64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object

isna().sum() muestra la cantidad de los campos nulos que hay en cada columna.

Species    0
Weight     0
Length1    0
Length2    0
Length3    0
Height     0
Width      0
dtype: int64

duplicated().sum() muestra la cantidad de los campos con valores duplicados que hay en cada columna.

0