# PRÁCTICA DE LIMPIEZA DE DATOS

Importamos pyspark.

In [1]:
# Importaciones
import pyspark
from pyspark.sql import SparkSession, functions as F, types as T

spark = SparkSession.builder.appName("Fish").getOrCreate()
spark

Leemos el csv para guardarlo en la variable df.

In [2]:
df = (spark.read
      .option("header", True)
      .option("inferSchema", True)
      .csv("Fish.csv"))

In [3]:
df.printSchema()

root
 |-- Species: string (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Length1: double (nullable = true)
 |-- Length2: double (nullable = true)
 |-- Length3: double (nullable = true)
 |-- Height: double (nullable = true)
 |-- Width: double (nullable = true)

Con show(5) mostramos las 5 primeras filas.

In [5]:
df.show(5)

+-------+------+-------+-------+-------+-------+------+
|Species|Weight|Length1|Length2|Length3| Height| Width|
+-------+------+-------+-------+-------+-------+------+
|  Bream| 242.0|   23.2|   25.4|   30.0|  11.52|  4.02|
|  Bream| 290.0|   24.0|   26.3|   31.2|  12.48|4.3056|
|  Bream| 340.0|   23.9|   26.5|   31.1|12.3778|4.6961|
|  Bream| 363.0|   26.3|   29.0|   33.5|  12.73|4.4555|
|  Bream| 430.0|   26.5|   29.0|   34.0| 12.444| 5.134|
+-------+------+-------+-------+-------+-------+------+
only showing top 5 rows

Sentencia parecida a SQL para ver el nº de nulos que hay en cada columna.

In [6]:
nulos = df.select([F.sum(F.col(c).isNull().cast("int")).alias(c) for c in df.columns])
nulos.show()

+-------+------+-------+-------+-------+------+-----+
|Species|Weight|Length1|Length2|Length3|Height|Width|
+-------+------+-------+-------+-------+------+-----+
|      0|     0|      0|      0|      0|     0|    0|
+-------+------+-------+-------+-------+------+-----+

Borramos los datos duplicados.

In [7]:
df.dropDuplicates()

DataFrame[Species: string, Weight: double, Length1: double, Length2: double, Length3: double, Height: double, Width: double]

Muestra datos del csv usando SQL.

In [ ]:
df.createOrReplaceTempView("fish")
q1 = spark.sql("SELECT * FROM fish WHERE Length1 < 15")
q1.show()

+-------+------+-------+-------+-------+------+------+
|Species|Weight|Length1|Length2|Length3|Height| Width|
+-------+------+-------+-------+-------+------+------+
|  Roach|  40.0|   12.9|   14.1|   16.2|4.1472| 2.268|
| Parkki|  55.0|   13.5|   14.7|   16.5|6.8475|2.3265|
| Parkki|  60.0|   14.3|   15.5|   17.4|6.5772|2.3142|
|  Perch|   5.9|    7.5|    8.4|    8.8| 2.112| 1.408|
|  Perch|  32.0|   12.5|   13.7|   14.7| 3.528|1.9992|
|  Perch|  40.0|   13.8|   15.0|   16.0| 3.824| 2.432|
|  Smelt|   6.7|    9.3|    9.8|   10.8|1.7388|1.0476|
|  Smelt|   7.5|   10.0|   10.5|   11.6| 1.972|  1.16|
|  Smelt|   7.0|   10.1|   10.6|   11.6|1.7284|1.1484|
|  Smelt|   9.7|   10.4|   11.0|   12.0| 2.196|  1.38|
|  Smelt|   9.8|   10.7|   11.2|   12.4|2.0832|1.2772|
|  Smelt|   8.7|   10.8|   11.3|   12.6|1.9782|1.2852|
|  Smelt|  10.0|   11.3|   11.8|   13.1|2.2139|1.2838|
|  Smelt|   9.9|   11.3|   11.8|   13.1|2.2139|1.1659|
|  Smelt|   9.8|   11.4|   12.0|   13.2|2.2044|1.1484|
|  Smelt|  12.2|   11.5|   12.2|   13.4|2.0904|1.3936|
|  Smelt|  13.4|   11.7|   12.4|   13.5|  2.43| 1.269|
|  Smelt|  12.2|   12.1|   13.0|   13.8| 2.277|1.2558|
|  Smelt|  19.7|   13.2|   14.3|   15.2|2.8728|2.0672|
|  Smelt|  19.9|   13.8|   15.0|   16.2|2.9322|1.8792|
+-------+------+-------+-------+-------+------+------+